#include "Workspace-Universal-Target.xcconfig"
#include "Workspace-Target-Framework.xcconfig"

SUPPORTED_PLATFORMS = iphoneos iphonesimulator appletvsimulator appletvos watchsimulator watchos macosx

// iOS-specific default settings
SDKROOT[sdk=iphone*] = iphoneos
VALID_ARCHS[sdk=iphoneos*] = arm64 armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*] = x86_64 i386
TARGETED_DEVICE_FAMILY[sdk=iphone*]  = 1,2

// TV-specific default settings
SDKROOT[sdk=appletv*] = appletvos
TARGETED_DEVICE_FAMILY[sdk=appletv*] = 3

// Watch-specific default settings
SDKROOT[sdk=watch*] = watchos
TARGETED_DEVICE_FAMILY[sdk=watch*] = 4

// macOS-specific default settings
SDKROOT[sdk=macosx*] = macosx
VALID_ARCHS[sdk=macosx*] = x86_64
SUPPORTS_MACCATALYST = YES
